body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

}
header{
    width: 100%;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    
    padding-right: 20px;
    display: flex;
    align-items: center;
    
}
li{
    list-style: none;
}
.logo{
    margin-left: 27px;
}
a{
    text-decoration: none;
    margin-right: 19px;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.47);
}
.img-svg{
    margin-right: 7px;
    margin-top: 4px;
}
.section-1{
    width: 100%;
    margin-top: 60px;
}
.section-1-contents{
    width: 100%;
   display: flex;
}
.sec-1-contents-a{
    width: 40%;
    display: flex;
    
}
.sec-1-contents-b{
    width: 60%;
    flex-wrap: wrap;
    flex-grow: 1;
    
    margin-left: 30px;
    padding-left: 50px;
    
    
  
}
.sec-1-img{
    height: 500px;
    width: 100%;
    border-radius: 12px;
}
.sec-1-img-b{
    width: 200px;
    border-radius: 12px;
    
}
.section-2-contents{
    width: 100%;
    background-color: red;
}

.btn1{
    height: 32px;
    width: 100px;
    border-radius: 12px;
    border-style: none;
    background-color: #FCC937;
    color: white;
    font-weight: bold;
}
.nav-2{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.nav-el-1{
    display: flex;
    margin-left: 95px;
    margin-right: 95px;
}
.input-field{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}
input{
    width: 55%;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    text-align:  left;
    padding-left: 15px;
}
.btn-input{
    position: absolute;
    margin-left: 550px;
    width: 120px;
    height: 28px;
    background-color: #FCC937;
    border-style: none;
    color: white;
    font-weight: bold;
    border-radius: 12px;
}

.icon-home{
    padding-left: 10px;
    position: absolute;
    margin-top: 0.8px;
    color: white;

}
.section-3{
    width: 100%;
    margin-top: 35px;
    background-color: #070C90;
}
.section-3-contents{
    width: 100%;
    background-color: #070C90;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
}
.sec-3-contents-1{
   padding-left: 15px;
   width: 293px;
   background-color: white;
   border-radius: 6px;
   padding-bottom: 7px;
   margin: 17px;
    
}
.img-star{
    width: 16px;
    
}
.sp2{
    color: rgba(0, 0, 0, 0.55);
    margin-left: 5px;
}
.icon-circle{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 12px;
    margin-left: 80%;
    margin-top: 10px;

}
.icon-circle-2{
    width: 70px;
    height: 30px;
    border-radius: 3px;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-left: 68%;
    margin-top: 10px;

}
.star{
    display: flex;
    align-items: center;

}
.sec-3-img{
    width:250px;
    height: 210px;
    border-radius: 12px;
}
#sec-3-img-id{
    width:200px;
    height: 210px;
    border-radius: 12px;
    margin-left: 20px;
}
.sec-3-para{
     letter-spacing: 0.8px;
     font-weight: 500;
}
.button{
   display: flex;
   justify-content: space-between;
   width: 250px;
   margin-top: 10px;

}
.btn-1,.btn-2{
    width: 110px;
    height: 28px;
    border-radius: 12px;
    border-style: none;
    background-color: #FCC937;
    color: white;
    font-weight: bold;
}
#btn-2-id{
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.4px;
    background-color: white;
    color: #FCC937;
    border: 1px solid #FCC937;
}
.sp3{
    margin-left: 10px ;
    font-weight: 600;
    
}
.sp1, .sp2{
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
    padding: 7px;
    padding-left: 0px;
}

.add-to-cart{
  width: 84%;
  height: 28px;
  background-color: #070C90;
  color: white;
  font-weight: bold;
  border-style: none;
  border-radius: 3px;
}



footer{
    width: 100%;
    display: flex;
    background-color: #B7B7B7;
    margin-top: 20px;
}
.footer-img{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50px;

}

.col-1-foot{
    width: 250px;
    margin-left: 40px;
    margin-top: 10px;
}
.col-1-foot-a{
    width: 250px;
    margin-left: 10px;
    margin-top: 12px;
}
.para-1-foot{
    font-size: 10px;
}
h3{
    color: #070C90;
}
#col-1-footID{
                
}
li{
    margin-top: 7px;
}
.div2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.div1{
    width: 100%;

}
.footer-paragraph{
    letter-spacing: 0.8px;
    font-size: 18px;
    color: #070C90;
    font-weight: bold;
    text-align: center;
}
.li-foot{
    text-align: center;
    color: #070C90;
    font-size: 12px;
    position: relative;
    bottom: 10px;
}

