body{
    padding: 0px;
    margin: 0px;
    display: flex;
   align-items: center;
    background-color: antiquewhite;
    justify-content: space-between;
}
.main{
width: 1140px;
padding: 20px;
background-color: rgb(88, 30, 141);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.element{
    margin: 20px;
    color: white;
    text-decoration: none;
}
button{
    background-color: blue;
    color:white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
.a{
    color: rgb(255, 255, 255);
}
.b{
    color: gray;
}
.section{
   
}
.section1{
    
    margin-top:150px;
    width: 70%;
    margin-left: 400px;
    text-align: center;
}
   
