body {
    font-family: Arial, sans-serif;
    background-color: #003366;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
}

.language-select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form label {
    margin: 10px 0 5px;
}

.registration-form input,
.registration-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.trade-role {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trade-role label {
    margin: 0;
}

.tel-input {
    display: flex;
    align-items: center;
}

.tel-input input {
    flex: 1;
}

.terms {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.terms label {
    margin-left: 5px;
}

.terms a {
    color: #007bff;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

button {
    background-color: #f0ad4e;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #ec971f;
}
