body{
  
}
header{
    width: 100%;
    height: 70px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.you{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.can{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    color: gray;
}
#select-1{
    width: 50px;
    border: none;
    margin-right: 20px;
    color: gray;
}
#select-2{
    width: 100px;
    border: none;
    margin-right: 20px;
    margin-left: 20px;
    color: gray;
}
.him{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.jet{
    list-style: none;
    text-decoration: none;
    color: gray;
}
.icon-1{
    width: 24px;
}
.btn-1{
    padding: 8px 16px;
    background-color: #ffbc05;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    color: white;
    margin-right: 20px;
}
.desktop{
    width: 1080px;
}
.she{
    margin-left: 200px;
    height: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
}
.go{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
    margin-right: 50px;
}
.are{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
    margin-left: 200px;
}
h3{
    color: black;
}
.the{
    padding: 16px;
}
.home{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 100px;
}
.circle{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: black solid;
    border-width: 1px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
h1{
    margin-top: 50px;
    font-size: 36px;
    margin-left: 100px;
    color: #070c90;
}
.home-1{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
}
h4{
    font-size: 24px;
    color: #070c90;
}
.view{
    color: black;
    margin-left: 50px;
}
.pic-1{
    width: 300px;
}
.home-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.you-1{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.pic-2{
    width: 80px;
}
.pic-3{
    width: 90px;
}
.pic-4{
    width: 100px;
    margin-top: 24px;
}
.week{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.lowest{
    margin-left: 10px;

}
.this{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pic-5{
    width: 90px;
    margin-right: 24px;
}
.pic-6{
    width: 300px;
    margin-top: 20px; 
}
.score{
    color: gray;
    font-size: 12px;
    margin-top: 0px;
}
h5{
    margin-bottom: 20px; 
}
.can-1{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
}
.pic-7{
    position: relative;
    width: 300px;
}
.nav-el{
    font-size: 18px;
    color: black;
}
.search{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-1{
    width: 200px;
    height: 100px;
    border-radius: 100px;
    border: black solid;
    align-items: center;
    display: flex;
    justify-content: center;
    border-width: 1px;
}
h6{
    font-size: 36px;
    margin-bottom: 0px;
    color: #070c90;
    margin-top: 0px;
}
.search-2{
    color: gray;
}
.search-icon{
    width: 36px;
}
.gear{
    align-items: center;
    display: flex;
    flex-direction: row;
}
.circle-1{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: black solid;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-width: 1px;
}
.nav-e1{
    font-size: 24px;
    margin-left: 10px;
}
.from{
    margin-left: 20px;
}
.pic-8{
    width: 200px;
}
footer{
    height: 450px;
    width: 100%;
    background-color: rgb(163, 161, 161);

}
.pic-12{
    margin-top: 24px;
    margin-bottom: 0px;
}
.shop-1{
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;

}
.shop{
    align-items: baseline;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.home-5{
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home-6{
    margin-top: 500px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px;
    margin-top: 100px;
}
.categories{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.cat{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.h7{
    font-size: 24px;
}
.shop-13{
    margin-left: 500px;
}
.text-1{
    color: aliceblue;
}
.copy-r{
    margin-left: 550px;
    color: aliceblue;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.copy-11{
    width: 24px;
}
.cat-1{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    flex-direction: column;
}
.home-4{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text-3{
    color: #070c90;
    font-size: 24px;
}